<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Products</title>
  </head>
  <body>
    <h1>Products</h1>
    <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
              <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{products.price}}</td>
                <td><a href="{% url 'products:show' id=product.id %}">Show</a> | <a href="{% url 'products:edit' id=product.id %}">Edit</a> | <a href="{% url 'products:destroy' id=product.id %}"><button type="button" name="button">Remove</button></a></td>
              </tr>
              {% endfor %}

            </tbody>
    </table>
    <a href="{% url 'products:new' %}">Add a New Product</a>
  </body>
</html>
